<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="mybatis/datasource.properties">
        <!-- https://mybatis.org/mybatis-3/zh/configuration.html#properties -->
    </properties>

    <settings>
        <!-- https://mybatis.org/mybatis-3/zh/configuration.html#settings -->
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <setting name="defaultFetchSize" value="100"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
    </settings>

    <!-- https://mybatis.org/mybatis-3/zh/configuration.html#typeAliases -->
    <!--<typeAliases>

    </typeAliases>-->

    <!-- https://mybatis.org/mybatis-3/zh/configuration.html#typeHandlers -->
    <!--<typeHandlers>

    </typeHandlers>-->

    <!-- https://mybatis.org/mybatis-3/zh/configuration.html#objectFactory -->
    <!--<objectFactory type="">

    </objectFactory>-->

    <!-- https://mybatis.org/mybatis-3/zh/configuration.html#plugins -->
    <!--<plugins>
        <plugin interceptor="">

        </plugin>
    </plugins>-->

    <environments default="development">
        <!-- https://mybatis.org/mybatis-3/zh/configuration.html#environments -->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${mybatis.mysql.driver}"/>
                <property name="url" value="${mybatis.mysql.url}"/>
                <property name="username" value="${mybatis.mysql.username}"/>
                <property name="password" value="${mybatis.mysql.password}"/>
            </dataSource>

        </environment>

    </environments>

    <databaseIdProvider type="DB_VENDOR">
        <!-- https://mybatis.org/mybatis-3/zh/configuration.html#databaseIdProvider -->
        <property name="SQL Server" value="sqlserver"/>
        <property name="DB2" value="db2"/>
        <property name="Oracle" value="oracle" />
        <property name="MySQL" value="mysql" />
    </databaseIdProvider>

    <mappers>
        <!-- <mapper resource="org/mybatis/example/BlogMapper.xml"/> -->
    </mappers>
</configuration>
