@charset "utf-8";

.panel {
    position: fixed;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    flex-flow: column;
    width: 100%;
    height: 100%;
}
.panel .panel-header {
    position: relative;
    display: block;
    flex-shrink: 0;
    padding: 1rem 1rem 0rem 1rem;
    border-bottom: 1px solid #ddd;
}
.panel .panel-body {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    padding: 0;
}

.panel .panel-adjuster-vx {
    height: 100%;
    width: 3px;
    cursor: col-resize;
}

.panel .panel-adjuster-vx:hover {
    background: #aaa;
    border: 1px solid #aaa;
}

.panel .panel-adjuster-vm {
    position:absolute;
    height: 100%;
    width: 3px;
    cursor: col-resize;
    background: #aaa;
    border: 1px solid #aaa;
}

.panel .panel-adjuster-hx {
    height: 3px;
    width: 100%;
    cursor: row-resize;
}
.panel .panel-adjuster-hx:hover {
    background: #aaa;
    border: 1px solid #aaa;
}

.panel .panel-adjuster-hm {
    position:absolute;
    height: 3px;
    width: 100%;
    cursor: row-resize;
    background: #aaa;
    border: 1px solid #aaa;
}

.panel .panel-body .panel-center {
    position: relative;
    flex-grow: 1;
}
.panel .panel-body .panel-left {
    position: relative;
    width: 15%;
    border-right: 1px solid #ddd;
}
.panel .panel-body .panel-right {
    position: relative;
    width: 15%;
    border-left: 1px solid #ddd;
}
.panel .panel-footer {
    position: relative;
    display: block;
    flex-shrink: 0;
    padding: 0rem 1rem 1rem 1rem;
    border-top: 1px solid #ddd;
}

.adjuster-top {
    position:absolute;
    height: 8px;
    width: 100%;
    cursor: row-resize;
    top: 0px;
}

.adjuster-left {
    position:absolute;
    height: 100%;
    width: 8px;
    cursor: col-resize;
    left: 0px;
}

.adjuster-right {
    position:absolute;
    height: 100%;
    width: 8px;
    cursor: col-resize;
    right: 0px;
}

.adjuster-bottom {
    position:absolute;
    height: 8px;
    width: 100%;
    cursor: row-resize;
    bottom: 0px;
}

.adjuster-top:hover, .adjuster-left:hover, .adjuster-right:hover, .adjuster-bottom:hover {
    background: #aaa;
    border: 1px solid #aaa;
    border-radius: 2px;
}